/* Menu Blanco */
.menu--desk--white{
	padding: 20px 20px;
	height: 89px;
	display: flex;
	align-items: center;
	background-color: #F5F5F5;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
}

body {
	padding-top: 89px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 500;
}

.menu--desk--white ul{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
}
.menu--desk--white li {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.menu--desk--white li.active {
    color:#AF48FF ;
}
.menu--desk--white li+li {
    margin-left: 32px;
}

@media screen and (min-width: 768px) {
	.min-h-screen {
		min-height: calc(100vh - 89px);
	}
}

.border-white {
	border-top: 1px solid white;
    width: 90%;
}

.border-black {
	border-top: 1px solid black;
    width: 90%;
}

.max-w {
	max-width: 100%;
}

/* Menu Negro */

.menu--desk--black{
    padding: 20px 20px;
    height: 89px;
    display: flex;
    align-items: center;
    background-color: #000;
    }
    
    header{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 500;
    }
    
    .menu--desk--black ul{
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        height: 100%;
    }
    .menu--desk--black li {
        font-family: "Roboto Mono";
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: white;
    }
    .menu--desk--black li.active {
        color:#AF48FF ;
    }
    .menu--desk--black li+li {
        margin-left: 32px;
    }

/* Seccion Technology */
.img-technology{
    max-height: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-tech{
    font-family: "Handel Gothic D";
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
}

.title-text-tech{
    font-family: "Handel Gothic D";
    font-weight: 700;
    font-size: 19px;
    line-height: 20.86px;
}

.text-tech{
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 19px;
    line-height: 22.33px;
}

.technology{
    background: #F5F5F5;
}

.card-tecnology{
    background: transparent !important;
    border-radius: 16px;
}

/* Seccion Vision */

.title-text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
    color: white;
}

.text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}

.title-vision{
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}



/* Seccion Case Study */

.title-text-casestudy{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
   
}

.text-casestudy{
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    
   
}




/* Metrics */

.card-metrics{
    background: transparent !important;
    border-radius: 16px;
    border: 0.5px solid #FFFFFF ;
	min-height: 400px;
	height: 40vh;
}

.card-metrics .rect-metrics::after {
	content: "";
	width: 1px;
	height: 80%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.card-metrics .rect-metrics:last-child::after {
	content: none;
}

.title-metrics{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
    color: white;
}

.title-text-metrics{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-size: 98px;
    color: #FFFFFF;
}

.text-metrics{
    font-family: "Roboto Mono";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}


/* .rect-metrics::before{
    position: absolute;
    content: "";
    border-right: 0.5 solid #FFFFFF;
    width: 90%;
    justify-items: center;
    align-items: center;

} */


/* Extras */

.centrar{
    display: flex;
    align-items: center;
}

.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pda20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad70{
    padding: 70px 70px;
}

/* Footer */

.footer-bg{
    background-size: cover;
    background-position: center;
}

.footer-botones a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
    height: 90px;
	cursor: pointer;
}

.title-footer{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: white;
}

.title-footer2{
    font-family: 'Public Sans';
    font-style: light;
    font-weight:100;
    font-size: 25px;
    line-height: 29px;
    color: white;
}

.title-footer-buttons{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: white;
	transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.title-footer-buttons:hover,
.title-footer-buttons:active,
.title-footer-buttons:focus {
    color: #000;
    background-color: #AF48FF;
}

.title-footer-leyend{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.footer .socialMedia{
    border-top: 1px solid rgba(255, 255, 255, 0.3);;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
}

.footer .socialMedia .footer-botones {
	position: relative;
}
.footer .socialMedia .footer-botones::after {
	content: "";
	width: 1px;
	height: 80%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .socialMedia .footer-botones:last-child::after {
	content: none;
}