.menu--desk--white{
padding: 20px 20px;
height: 89px;
display: flex;
align-items: center;
background-color: #F5F5F5;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 500;
}

.menu--desk--white ul{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
}
.menu--desk--white li {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.menu--desk--white li.active {
    color:#AF48FF ;
}
.menu--desk--white li+li {
    margin-left: 32px;
}

.img-technology{
    max-height: 150px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-tech{
    font-family: "Handel Gothic D";
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
}

.title-text-tech{
    font-family: "Handel Gothic D";
    font-weight: 700;
    font-size: 19px;
    line-height: 20.86px;
}

.text-tech{
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 19px;
    line-height: 22.33px;
}

.technology{
    background: #F5F5F5;
}

.card-tecnology{
    background: transparent !important;
    border-radius: 16px;
}
.title-text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
    color: white;
}

.text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}

.title-vision{
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}

.centrar{
    display: flex;
    align-items: center;
}


.pda20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad70{
    padding: 70px 70px;
}