

/* Seccion Principal */
.title-text-principal{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-size: 87px;
    color: #fff;
}

.title-text-principal2{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-size: 79px;
    color: #fff;
}
.title-principal{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}


.card-principal{
    background: transparent !important;
    border-radius: 16px;
    border: 0.5px solid #FFFFFF ;
	min-height: 375px;
    width: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seccion Technology */
.title-tech{
    font-family: "Handel Gothic D";
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
}

.title-text-tech{
    font-family: "Handel Gothic D";
    font-weight: 700;
    font-size: 19px;
    line-height: 20.86px;
}

.text-tech{
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 19px;
    line-height: 22.33px;
}

.technology{
    background: #F5F5F5;
}

.card-tecnology{
    background: transparent !important;
    border-radius: 16px;
}

/* Seccion Vision */

.title-text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
    color: white;
}

.text-vision{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}

.title-vision{
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: white;
   
}



/* Seccion Case Study */

.title-text-casestudy{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
   
}





/* Metrics */

.card-metrics{
    background: transparent !important;
    border-radius: 16px;
    border: 0.5px solid #FFFFFF ;
	min-height: 400px;
	height: 40vh;
}

.card-metrics .rect-metrics::after {
	content: "";
	width: 1px;
	height: 80%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.card-metrics .rect-metrics:last-child::after {
	content: none;
}

.title-metrics{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 86px;
    color: white;
}

.title-text-metrics{
    font-family: "Handel Gothic D";
    font-style: normal;
    font-size: 98px;
    color: #FFFFFF;
}

.text-metrics{
    font-family: "Roboto Mono";
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}


/* .rect-metrics::before{
    position: absolute;
    content: "";
    border-right: 0.5 solid #FFFFFF;
    width: 90%;
    justify-items: center;
    align-items: center;

} */


/* Extras */

.centrar{
    display: flex;
    align-items: center;
}
/* 
.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.pda20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad70{
    padding: 70px 70px;
}

/* Footer */

.footer-bg{
    background-size: cover;
    background-position: center;
}

.svgFooter{
    margin-right: 10px;
}

.footer-botones a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
    height: 90px;
	cursor: pointer;
}

.title-footer{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: white;
}

.title-footer2{
    font-family: 'Public Sans';
    font-style: light;
    font-weight:100;
    font-size: 25px;
    line-height: 29px;
    color: white;
}

.title-footer-buttons{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: white;
	transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.title-footer-leyend{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
