body {
    overflow-x: hidden;

	.min-h-height {
		min-height: calc(100vh - 50px) !important;
		
		@media screen and (min-width: 768px) {
			min-height: calc(100vh - 61px) !important;
		}
	}

    .border{
        &-white,
        &-black {
            width: 90%;
        }

        &-white {
            border-top: 1px solid white;
        }
        
        &-black {
            border-top: 1px solid black;
        }
    }
    
    .max-w {
        max-width: 100%;
    }

    .w-14 {
        max-width: 1440px;
    }

    .numberToCard {
        position: absolute;
        top: 12px;
        left: 12px;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        display: flex;
        align-items: center;

        letter-spacing: -0.04em;

        &.white {
            color: #FFFFFF;
        }

        &.black {
            color: black;
        }

        $sizeCircle: 3px;

        &::before {
            content: "";
            width: $sizeCircle;
            height: $sizeCircle;
            border-radius: $sizeCircle;
            background-color: #AF48FF;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .titulos {
        font-family: 'Handel Gothic D';
        font-style: normal;
        font-weight: 300;

        $size: 37px;
        $lineh: calc($size - 12px);
    
        font-size: $size;
        line-height: $lineh;

        color: #FFFFFF;

        @media screen and (min-width: 768px) {
            $size: 57px;
            $lineh: calc($size - 12px);
        
            font-size: $size;
            line-height: $lineh;
            // font-size: 57px;
            // line-height: 67px; 
        }
        @media screen and (min-width: 992px) {
            $size: 77px;
            $lineh: calc($size - 12px);
        
            font-size: $size;
            line-height: $lineh;
            // font-size: 77px;
            // line-height: 86px; 
        }
        @media screen and (min-width: 1400px) {
            $size: 77px;
            $lineh: calc($size - 12px);
        
            font-size: $size;
            line-height: $lineh;
            // font-size: 77px;
            // line-height: 86px; 
        }
    }

    .textos {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.04em;

        color: white;

        @media screen and (min-width: 992px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1440px) {
            font-size: 17px;
        }
    }

    .next-section {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        max-width: 1440px;

        .invisible {
            border-color: transparent;
        }

    }

    .py-40 {
		padding-top: 40px;
		padding-bottom: 60px;
		
		@media screen and (min-width: 768px) {
			
			padding-bottom: 70px;
		}
		@media screen and (min-width: 1440px) {
			padding-top: 60px;
			padding-bottom: 95px;
		}
	}

    .style0{
        
        padding-inline-start: 0;
        list-style: none;
        text-align: center;
        
        @media screen and (min-width: 768px) {
			 padding-inline-start: 40px;
             list-style: disc;
             text-align: initial;
			
		}
		@media screen and (min-width: 1440px) {
			 padding-inline-start: 40px;
             list-style: disc;
             text-align: initial;
		}

    }

    .pt-30{
        padding-top: 10px;

        @media screen and (min-width: 768px) {
            padding-top: 30px;
           
       }
       @media screen and (min-width: 1440px) {
            padding-top: 30px;
       }
    }

    main {
        .container-fluid {
            @media screen and (min-width: 1366px) {
                padding-left: 70px;
                padding-right: 70px;
            }
        }
    }
    
    .centrado{
        text-align: center;
        @media screen and (min-width: 768px) {
           
            text-align: initial;
           
       }
       @media screen and (min-width: 1440px) {
           
            text-align: initial;
       }
    }
}