.casestudy{
    padding-top: 70px;
    padding-bottom: 50px;
    background: #EAEAEA;
    position: relative;

    .img-case{
        max-height: 150px;
        min-height: 120px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
    }

    .titulos{
        color: #000;
    }

    .textos{
        color: #000;
    }

    .textos.card{
        font-family: 'Roboto Mono';
        text-align: center;
        color: #000;
        background: #EAEAEA;
        border-radius: 16px;
        border: 1px solid;

        font-size: 14px;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1440px) {
            font-size: 16px;
        }
    }

    ul{
        border:1px solid;

        li{
            
            &:hover{
                color: #fff !important;
                background: #AF48FF;
                
            }
        }

        li+li{
            border-top: 1px solid;
        }
    }

    .list-info{
        border: 1px solid;
        border-radius: 16px;
        margin: auto;
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        li {
            padding: 15px 15px;
            cursor: initial;
            user-select: none;

            @media screen and (min-width: 1440px) {
                padding: 25px 20px;
            }
            
            &:hover {
                p {
                    color: white;

                    span {
                        color: white
                    }
                }
            }
        }

        p {
            font-weight: 400;
            display: flex;
            align-items: center;
            letter-spacing: -0.04em;
            font-size: 20px;
            line-height: 21px;

            @media screen and (min-width: 992px) {
                font-size: 26px;
                line-height: 31px;
            }

            span {
                font-family: "Roboto Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 33px;
                letter-spacing: -0.04em;

                color: #000000;
            }
        }
    }


    .lineItems {
        position: relative;
        z-index: 10;

        &::after {
            content: "";
            background-color: #000;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            z-index: -1;
            
            width: 1px;
            height: 90%;
            bottom: 20px;
            left: 0;
            right: 0;

            @media screen and (min-width: 768px) {
                width: 90%;
                height: 1px;
                bottom: calc(40px + 1rem);
                left: 0;
                right: 0;
            }
        }
    }

    .img-case2 {
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        max-height: 760px;
        min-height: 350px;
        max-width: 615px;
        width: 90%;

        @media screen and (min-width: 992px) {
            height: 80vh;
        }
    }
}