.footer{
    padding-top: 70px;
    padding-bottom: 50px;
    background: #000;
    position: relative;


    .textos {

        font-size: 16px;
        line-height: 30px;

        @media screen and (min-width: 768px) {
           font-size: 25px;
        }
        @media screen and (min-width: 992px) {
            font-size: 25px;
        }
    }

    & .centro{
        display:block;
        align-items: center;
        
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
        @media screen and (min-width: 992px) {
            display: flex;
            align-items: center;
        }

        & li{
            
            border: 1px solid;
            

            @media screen and (min-width: 768px) {
                border: none;
               
            }
            @media screen and (min-width: 992px) {
                border: none;
               
            }

            & + li {
                margin-top: 1rem;

                @media screen and (min-width: 768px) {
                   margin-top: 0;
                   
                }
                @media screen and (min-width: 992px) {
                   margin-top: 0;
                   
                }
            }

        }

    }

    & .t-founder{
        color: white;
        font-family: 'Public Sans';
        font-size: 14px;
        font-weight: 100;

        @media screen and (min-width: 768px) {
            font-size: 25px;
        }
        @media screen and (min-width: 992px) {
            font-size: 25px;
        }
    }

    & p.leyend{
        font-family: 'Roboto Mono';
        text-align: center;
        color: #FFFFFF;
        font-size: 12px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 992px) {
            font-size: 14px;
        }
    }

    &-bg{
        background-size: cover;
        background-position: center;

        &.medio{
            justify-items: center;
            justify-content: center !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &-botones a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 90px;
        cursor: pointer;
    }


     &.socialMedia{
        border-top: 1px solid rgba(255, 255, 255, 0.3);;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
    }
    
     &.socialMedia &-botones {
        position: relative;
    }
    &.socialMedia &botones::after {
        content: "";
        width: 1px;
        height: 80%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
    &.socialMedia &botones:last-child::after {
        content: none;
    }

    &-buttons:hover,
    &-buttons:active,
    &-buttons:focus {
    color: #000;
    background-color: #AF48FF;
}
}