.footer{
    padding-top: 70px;
    padding-bottom: 50px;
    background: #EAEAEA;
    position: relative;
    color: black;


    .textos {
        color: black;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;

        @media screen and (min-width: 768px) {
           font-size: 20px;
        }
        @media screen and (min-width: 992px) {
            font-size: 25px;
        }
    }

    & .centro{
        display:block;
        align-items: center;
        
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
        @media screen and (min-width: 992px) {
            display: flex;
            align-items: center;
        }

        & li{
            
            border: 1px solid rgba(0, 0, 0, 0.3);
            

            @media screen and (min-width: 768px) {
                border: none;
               
            }
            @media screen and (min-width: 992px) {
                border: none;
               
            }

            & + li {
                margin-top: 1rem;

                @media screen and (min-width: 768px) {
                   margin-top: 0;
                   
                }
                @media screen and (min-width: 992px) {
                   margin-top: 0;
                   
                }
            }

        }

    }

    & .t-founder{
        color: white;
        font-family: 'Public Sans';
        font-size: 14px;
        font-weight: 300;

        &.tlight {
            font-weight: 100;
        }

        @media screen and (min-width: 768px) {
            font-size: 25px;
        }
        @media screen and (min-width: 992px) {
            font-size: 25px;
        }
    }

    & p.leyend{
        font-family: 'Roboto Mono';
        text-align: center;
        color: black;
        font-size: 12px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        @media screen and (min-width: 992px) {
            font-size: 14px;
        }
    }

    &-bg{
        background-size: cover;
        background-position: center;
        height: 40vh;
        min-height: 250px;
        border-radius: 16px;
        max-height: 300px;
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 20px;
        padding-right: 20px;

        .textos {
            color: white;
        }

        @media screen and (min-width: 768px) {
            max-height: 250px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            .textos {
                font-size: 18px;
            }
        }

        &.medio{
            justify-items: center;
            justify-content: center !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &-botones a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 90px;
        cursor: pointer;
        color: black !important;
    }


     & .socialMedia{
        
        

        @media screen and (min-width: 768px) {
            border-top: 1px solid rgba(0, 0, 0, 0.3);;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);;
            
        }
        @media screen and (min-width: 992px) {
            border-top: 1px solid rgba(0, 0, 0, 0.3);;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);;  
            
        }

    }
    
     &.socialMedia &-botones {
        position: relative;
    }
    & .socialMedia &-botones::after {
        content: "";
        width: 1px;
        height: 80%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        
        @media screen and (min-width: 768px) {
            
            border-left: 1px solid rgba(0, 0, 0, 0.3);
        }
        @media screen and (min-width: 992px) {
             
            border-left: 1px solid rgba(0, 0, 0, 0.3);
        }

        


    }
    &.socialMedia &botones:last-child::after {
        content: none;
    }

    &-buttons:hover,
    &-buttons:active,
    &-buttons:focus {
    color: #000;
    background-color: #AF48FF;
}
}