.metrics{
    padding-top: 70px;
    padding-bottom: 50px;
    background: #000;
    position: relative;




    &-card{
        background: transparent !important;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3019607843) ;
        margin-left: auto;
        margin-right: auto;
        height: 542px;
        width: 90%;
        max-width: 1294px;


        .titulos {
         
            @media screen and (min-width: 768px) and (max-width: 991px) {
                font-size: 40px;
            }
        }
    }
    
    &-card .rect-metrics::after {
        content: "";
        position: absolute;
        
        @media screen and (max-width: 767px) {
            width: 80%;
            height: 1px;
            border-top: 1px solid #ffffff4d;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }        
        @media screen and (min-width: 768px) {
            border-left: 1px solid #ffffff4d;
            width: 1px;
            height: 80%;
            right: 0;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    &-card .rect-metrics:last-child::after {
        content: none;
    }

    &-card .rect-metrics.centro{
        justify-items: center;
        justify-content: center!important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textos{
        font-family: "Roboto Mono";
        font-size: 16px;
    }
}