.principal {
    min-height: 100vh;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 90px;
    position: relative;

	&.min-h-auto {
		min-height: auto;
	}

	.py-40 {
		padding-top: 40px;
		padding-bottom: 60px;
		
		@media screen and (min-width: 768px) {
			// padding-top: 60px;
			padding-bottom: 70px;
		}
		@media screen and (min-width: 1440px) {
			padding-top: 60px;
			padding-bottom: 95px;
		}
	}

    .tlo-main {
        font-family: 'Handel Gothic D';
        font-style: normal;
        font-weight: 300;
        font-size: 49px;
        line-height: 57px;

        color: #FFFFFF;

        @media screen and (min-width: 768px) {
            font-size: 69px;
            line-height: 77px; 
        }
        @media screen and (min-width: 992px) {
            font-size: 89px;
            line-height: 97px; 
        }
    }

	// Cards
	.wrapper {
		min-height: 200px;
		max-height: 375px;
		height: 30vh;
		max-width: 320px;
		width: 100%;
		background-color: black;
		border: 1px solid white;
		border-radius: 16px;
		margin-left: auto;
		margin-right: auto;
	}
}