.principal {
    min-height: 100vh;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 90px;
    position: relative;

	&.min-h-auto {
		min-height: auto;
    }

    .tlo-main {
        font-family: 'Handel Gothic D';
        font-style: normal;
        font-weight: 300;
        font-size: 49px;
        line-height: 57px;

        color: #FFFFFF;

        @media screen and (min-width: 768px) {
            font-size: 67px;
            line-height: 77px; 
        }
        @media screen and (min-width: 992px) {
            font-size: 87px;
            line-height: 97px; 
        }
    }

	// Cards
	.wrapper {
		height: 375px;
		max-width: 320px;
		width: 100%;
		background-color: black;
		border: 1px solid white;
		border-radius: 16px;
		margin-left: auto;
		margin-right: auto;

        .textos {

            @media screen and (min-width: 992px) {
                max-width: 255px;
            }
            @media screen and (min-width: 1400px) {
                max-width: 235px;
            }
        }
	}

    .wrapper-text {
        margin: auto;
        text-align: center;

        @media screen and (min-width: 992px) {
            max-width: 520px;
            text-align: justify;
        }
        @media screen and (min-width: 1400px) {
            max-width: 555px;
        }
    }

    .card-tecnology {
        background: transparent !important;
        border-radius: 16px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
        height: 420px;
        border: 1px solid black;

        .p-3 {
            @media screen and (min-width: 768px) {
                min-height: 375px;
            }
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
            height: 536px;
        }
        @media screen and (min-width: 992px) {
            margin-bottom: 0px;
        }

        .textos.gotic {
            font-family: 'Handel Gothic D' !important;
        }

        .textos {
            @media screen and (min-width: 992px) {
                max-width: 245px;
            }
        }

        .img-technology {
            max-height: 87px;
            min-height: 87px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
    
            @media screen and (min-width: 992px) {
                margin-bottom: 70px;
            }
        }
    }

    &.bg-white {
        background-color: #EAEAEA !important;

        .tlo-main {
            color: black;
        }

        .titulos, .textos {
            color: black
        }

        .textos-finales {
            font-size: 18px;
        }

        .morado {
            color: #AF48FF;
        }

        .clic {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 6px;
            background-color: #EAEAEA;
            max-width: 160px;
            padding-top: 8px;
            padding-bottom: 8px;
            color: black;
            transition: all .3s ease-out;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;

            &:hover {
                background-color: #AF48FF;
                color: #EAEAEA;
                border-color: #AF48FF;
            }
        }
    }
}