.technology{
    background: #EAEAEA;
    position: relative;

    .titulos{
        color: black;
        text-align: center;

        @media screen and (min-width: 768px) {
           text-align: right;
        }
        @media screen and (min-width: 992px) {
           text-align: right;
        }
    }
    .textos{
        color: black;
    }
    .textos.public{
        font-weight: 700;
    }
    .card-tecnology {
        background: transparent !important;
        border-radius: 16px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
        height: 55vh;
        min-height: 360px;
        border: 1px solid black;

        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
        }
        @media screen and (min-width: 992px) {
            margin-bottom: 0px;
        }
    }
    .img-technology {
        max-height: 150px;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}