.technology{
    background: #EAEAEA;
    position: relative;

    .titulos{
        color: black;
        text-align: center;

        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }
        @media screen and (min-width: 768px) {
           text-align: right;
        }
        @media screen and (min-width: 992px) {
           text-align: right;
        }
    }
    .textos{
        color: black;
    }
    .textos.public{
        font-weight: 700;
    }

    .m80 {
        @media screen and (min-width: 992px) {
            margin-bottom: 50px;
        }
    }

    .card-tecnology {
        background: transparent !important;
        border-radius: 16px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
        height: 420px;
        border: 1px solid black;

        .p-3 {
            @media screen and (min-width: 768px) {
                min-height: 375px;
            }
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
            height: 536px;
        }
        @media screen and (min-width: 992px) {
            margin-bottom: 0px;
        }

        .textos.gotic {
            font-family: 'Handel Gothic D' !important;
        }

        .textos {
            @media screen and (min-width: 992px) {
                max-width: 245px;
            }
        }

        .img-technology {
            max-height: 87px;
            min-height: 87px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
    
            @media screen and (min-width: 992px) {
                margin-bottom: 70px;
            }
        }
    }
}