.vision {

    padding-top: 70px;
    padding-bottom: 50px;
    background: #000;
    position: relative;

    .titulos {
        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }
    }

    .textos-vision{
        font-family: "Handel Gothic D";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: white;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 992px) {
            font-size: 19px;
        }
    }
}