.vision {

    .ul-list {}

    .line-style {
        li {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: 0.3;
            color: white;
            
            &.active {
                color: black;

            }

            @media screen and (min-width: 1200px) {
                font-size: 48px;
                line-height: 2.2;
            }
        }
    }
}