@font-face {
    font-family: 'Handel Gothic D';
    src: url('HandelGotD-Medi.woff2') format('woff2'),
        url('HandelGotD-Medi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

